{% extends 'html/base.html' %}

{% block title %}Ürün Ağaçları{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{ breadcrumb.title }}</li>
            <li class="breadcrumb-item active">{{ breadcrumb.subtitle }}</li>
        </ol>
    </nav>

    <!-- Ana İçerik -->
    <div class="row">
        <div class="col-12">
            <!-- İçerik buraya gelecek -->
        </div>
    </div>
</div>
{% endblock %} 